bottle==0.12.15
certifi==2018.8.24
chardet==3.0.4
dj-database-url==0.5.0
fail2ban==0.10.2
gunicorn==20.0.4
idna==2.6
lxml==4.3.2
psycopg2==2.8.6
pycurl==7.43.0.2
PyGObject==3.30.4
python-apt==1.8.4.3
pythondialog==3.4.0
requests==2.21.0
six==1.12.0
turnkey-conffile==1.0
turnkey-netinfo==1.0
turnkey-sysinfo==1.1
turnkey-version==1.1
TurnkeyLazyClass==1.0
urllib3==1.24.1
whitenoise==5.2.0
